*.mp4
*.pt
venv/
.venv/
src/venv/
*.log
post/
*.db
__pycache__/
*.pyc
*.pyo
.DS_Store
.mypy_cache/
.ruff_cache/
deploy/env/*.env
artifacts/
logs/
notebooks/
backend.log
mosquitto.log
mqtt.log
speed.log
streaming.log
violation.log
